<style>
	.cr-slider{height: 10px; border:1px solid white;}
</style>
<div class="row justify-content-center">
	<div style="width: 300px;height: 300px;">
		<img id="my-image" src="{{path_to_app}}system/img/team/{{team_id}}/feature?v={{rand}}" />
		<script>
			var el = document.getElementById('my-image');
			var resize = new Croppie(el, {
    			viewport: { width: 200, height: 200, type: 'circle' }
    		});
		</script>
	</div>
</div>
<div class="row justify-content-center" style="position: relative;top:60px;">
	<button class="btn btn-primary" id="croppie-done">ปรับรูปเรียบร้อย</button>
</div>
<script type="text/javascript">
	$('body').on('click tap','#croppie-done',function(){	
		resize.result('blob').then(function(blob) {
			var fd = new FormData();
			fd.append('file', blob);
			fd.append('type','image-upload');
			var json = {'team_id':{{team_id}}};
			if(json){
				$.each(json,function(key,value){
					fd.append(key, value);
				});
			}
			$.ajax({
				url : "{{path_to_core}}team/ajax.php",
				type: "POST",
				data : fd,
				processData: false,
				contentType: false,
				success:function(data){
					window.location = '{{path_to_core}}team/edit.php?id={{team_id}}';
				},
				error:function(XMLHttpRequest, textStatus, errorThrown) { 
					console.log(XMLHttpRequest); 
					}
			});
		});
	});
</script>