<div class="d-flex mb-3">
	<div style="width: 80px;" class="mr-2">ภาพทีม:</div>
	<div class="flex-fill mr-2">
		<div style="max-width: 200px;">
			<div class="mt-2 mb-2" style="
					position: relative;
					background-image: url({{team_image}}?v={{image_version}}); 
					background-repeat:no-repeat; 
					background-size: cover; 
					width:100%;
					padding-top:100%;
					border-radius: 50%;";>
				<div style="position:absolute; left:0;bottom:5px;">{{upload-image}}</div>
			</div>	
		</div>
	</div>
</div>
<form method="post">
<div class="d-flex">
	<div style="width: 80px;" class="mr-2">ชื่อทีม:</div>
	<div class="flex-fill mr-2">
		<input style="max-width: 750px;" name="name_show" class="form-control" type="text" value="{{name_show}}">
	</div>
</div>
<div class="d-flex">
	<div style="width: 80px;" class="mr-2">แนะนำทีม:</div>
	<div class="flex-fill mr-2">
		<input style="max-width: 750px;" name="detail" class="form-control" type="text" value="{{detail}}">
	</div>
</div>
<div class="d-flex mb-3">
	<div style="width: 80px;" class="mr-2">การค้นหา:</div>
	<div class="mr-2">
		{{allow_search_show}}
	</div>
</div>
<div class="d-flex mb-3">
	<div style="width: 80px;" class="mr-2">สถานะ:</div>
	<div class="mr-2">
		{{active_show}}
	</div>
</div>
<div class="d-flex">
	<div style="width: 80px;" class="mr-2">&nbsp;</div>
	<div class="flex-fill ">
		<input type="hidden" name="id" value="{{id}}">
		<input style="max-width: 250px;" class="btn btn-primary btn-block" type="submit" value="ส่งข้อมูล">
	</div>
</div>
</form>
