<div class="row">
	{{list}}
</div>
<div class="row justify-content-right">
	<div class="col-12 col-md-2">
		<a class="btn btn-info w-100" href="{{path_to_core}}team/insert.php">เพิ่มทีม</a>
	</div>
</div>

<script>
	$('body').on('click tap','.admin_allow',function(e){
		e.preventDefault();
		if(confirm('ยืนยันการอนุมัติ')){
			var team_user_id = $(this).data('team_user_id');
			var $post = $.post('{{path_to_core}}team/ajax.php',{'type':'admin_allow_request','team_user_id':team_user_id});
			$post.done(function(data){
				if(data.done){
					var user_card = $('.team_user_id'+data.team_user_id+' .user-profile').html();
					$('.team_user_id'+data.team_user_id).hide();
					$('.team_id'+data.team_user_id+'-member').prepend(user_card);
				}
			});
		}
	});
</script>
