<form method="post">
<div class="d-flex justify-content-center">
	<div class="mr-2">ชื่อทีม:</div>
	<div class="mr-2">
		<input name="name_show" class="form-control" type="text" value="">
	</div>
	<div>
		<input class="btn btn-primary btn-block" type="submit" value="ส่งข้อมูล">
	</div>
</div>
<div class="text-center">
	<em>หมายเหตุ: ชื่อทีมต้องมีความยาวตั้งแต่ 5 อักษรขึ้นไป</em>
</div>
</form>
