<div class="row mb-3">
	<div class="col">
		<div class="d-flex">
			<div style="position: relative;top: 12px;" class="mr-2">{{team_image}} </div>
			<div class="flex-fill">
				<h3 class="m-0">{{team_name}}</h3>
				{{team_detail}}
			</div>
			<div class="text-right">
				<button id="coppylink1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#coppylink_modal1">
				  	<span class="d-md-none"><i class="fas fa-copy" style="position:relative;top:3px;"></i></span>
					<span class="d-none d-md-block"><i class="fas fa-copy" style="position:relative;top:3px;"></i> เพิ่มเพื่อน</span>
				</button>
				
				<!-- Modal -->
				<div class="modal fade rounded" id="coppylink_modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered text-dark" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <div style="font-size: 32px;" class="modal-title" id="exampleModalLongTitle">เพิ่มเพื่อน</div>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body text-center">
				        ลิ้งค์ได้ถูกคัดลอกเรียบร้อย กรุณานำไปแชร์เพื่อเพิ่มเพื่อนครับ
				        <div id="coppylink_data1" style="display: none;overflow: hidden;"></div>
				      </div>
				    </div>
				  </div>
				</div>			
				<script>
					$(function(){
						function copyToClipboard(element) {
							var $temp = $('<div><form><textarea style="height:55px;" class="form-control text-center"></textarea></form></div>');
							var $text = $(element).text();
							// $(element).addClass("d-none");
							$(element).parent().append($temp);
							$temp.find("textarea").val($text);
							$temp.find("textarea").focus();
							$temp.find("textarea").get(0).setSelectionRange(0,9999);
							document.execCommand("copy");
				
							$('#coppylink_modal1').on('hidden.bs.modal', function () {
							    $temp.remove();
							});
						}
						$('body').on('click tap','#coppylink1',function(){
							$('#coppylink_data1').text('{{join_url}}');
							var element = $('#coppylink_data1');
							setTimeout(function(){
								copyToClipboard(element);
							}, 1000);
						});
					});
				</script>
			</div>
		</div>
	</div>
</div>
<div class="row">
	{{list}}
</div>

<script>
	$('body').on('click tap','.admin_allow_user',function(e){
		e.preventDefault();
		if(confirm('ยืนยันการอนุมัติ')){
			var team_user_id = $(this).data('team_user_id');
			var $post = $.post('{{path_to_core}}team/ajax.php',{'type':'admin_allow_user','team_user_id':team_user_id});
			$post.done(function(data){
				if(data.done){
					var user_card = $('.team_user_id'+data.team_user_id+' .user-profile').html();
					$('.team_user_id'+data.team_user_id).hide();
					$('.team_id'+data.team_user_id+'-member').prepend(user_card);
					window.location = window.location.href;
				}
			});
		}
	});
	$('body').on('click tap','.admin_cancel_user',function(e){
		e.preventDefault();
		if(confirm('ยืนยันการยกเลิก')){
			var team_user_id = $(this).data('team_user_id');
			var $post = $.post('{{path_to_core}}team/ajax.php',{'type':'admin_cancel_user','team_user_id':team_user_id});
			$post.done(function(data){
				if(data.done){
					var user_card = $('.team_user_id'+data.team_user_id+' .user-profile').html();
					$('.team_user_id'+data.team_user_id).hide();
					$('.team_id'+data.team_user_id+'-member').prepend(user_card);
					window.location = window.location.href;
				}
			});
		}
	});
	$('body').on('click tap','.admin_add_admin',function(e){
		e.preventDefault();
		if(confirm('ยืนยันการตั้งผู้บริหาร')){
			var team_user_id = $(this).data('team_user_id');
			var $post = $.post('{{path_to_core}}team/ajax.php',{'type':'admin_add_admin','team_user_id':team_user_id});
			$post.done(function(data){
				if(data.done){
					var user_card = $('.team_user_id'+data.team_user_id+' .user-profile').html();
					$('.team_user_id'+data.team_user_id).hide();
					$('.team_id'+data.team_user_id+'-member').prepend(user_card);
					window.location = window.location.href;
				}
			});
		}
	});
	$('body').on('click tap','.admin_to_no_admin',function(e){
		e.preventDefault();
		if(confirm('ยืนยันการถอดผู้บริหาร')){
			var team_user_id = $(this).data('team_user_id');
			var $post = $.post('{{path_to_core}}team/ajax.php',{'type':'admin_to_no_admin','team_user_id':team_user_id});
			$post.done(function(data){
				if(data.done){
					var user_card = $('.team_user_id'+data.team_user_id+' .user-profile').html();
					$('.team_user_id'+data.team_user_id).hide();
					$('.team_id'+data.team_user_id+'-member').prepend(user_card);
					window.location = window.location.href;
				}
			});
		}
	});
	$('body').on('click tap','.admin_remove_user',function(e){
		e.preventDefault();
		if(confirm('ยืนยันการถอดสมาชิก')){
			var team_user_id = $(this).data('team_user_id');
			var $post = $.post('{{path_to_core}}team/ajax.php',{'type':'admin_remove_user','team_user_id':team_user_id});
			$post.done(function(data){
				if(data.done){
					var user_card = $('.team_user_id'+data.team_user_id+' .user-profile').html();
					$('.team_user_id'+data.team_user_id).hide();
					$('.team_id'+data.team_user_id+'-member').prepend(user_card);
					window.location = window.location.href;
				}
			});
		}
	});
	$('body').on('click tap','.user',function(e){
		e.preventDefault();
		var this_user_id = $(this).data('user_id');
		$('.user-menu'+this_user_id).removeClass('d-none');
		$('.user-menu'+this_user_id).addClass('d-inline-block');
		$('.user'+this_user_id).addClass('d-none');
		$('.user'+this_user_id).removeClass('d-inline-block');
	});
	$('body').on('click tap','.user-menu',function(e){
		e.preventDefault();
		var this_user_id = $(this).data('user_id');
		$('.user'+this_user_id).removeClass('d-none');
		$('.user'+this_user_id).addClass('d-inline-block');
		$('.user-menu'+this_user_id).addClass('d-none');
		$('.user-menu'+this_user_id).removeClass('d-inline-block');
	});
</script>
