<div class="row">
	{{list}}
</div>
<script>
$(function(){
	$('body').on('click tap','.join_request',function(e){
		e.preventDefault();
		var team_id = $(this).data('team_id');
		var $post = $.post('{{path_to_core}}team/ajax.php',{'type':'join_request','team_id':team_id,'user_id':{{user_id}}});
		$post.done(function(data){
			if(data.done){
				$('.join_request[data-team_id='+data.team_id+']').hide();
				$('.user_status[data-team_id='+data.team_id+']').html('<em>(รออนุมัติ)</em>');
			}
		});
	});
	$('body').on('click tap','.user_allow_request',function(e){
		e.preventDefault();
		var team_user_id = $(this).data('team_user_id');
		var team_id = $(this).data('team_id');
		var $post = $.post('{{path_to_core}}team/ajax.php',{'type':'user_allow_request','team_id':team_id,'team_user_id':team_user_id});
		$post.done(function(data){
			if(data.done){
				$('.user_allow_request[data-team_user_id='+data.team_user_id+']').hide();
				$('.user_status[data-team_id='+data.team_id+']').html(data.user_status);
			}
		});
	});
});
</script>
