<div class="col-12 col-md-6 mb-3 team_id{{team_id}}">
	<div class="card">
		<div class="card-header">
			<div class="row m-0 justify-content-center">
				<div class="col-6 p-0">
					<h3 class="m-0">{{team_image}} {{card_name}}</h3>
				</div>
				<div class="col-6 text-right">
					{{admin_edit}}
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="row m-0 justify-content-center">
				<div class="col-12">
					{{detail}}
					{{list}}
				</div>
			</div>
		</div>
	</div>
</div>