<div class="text-center mr-2 mb-2 d-inline-block user{{id}} d-inline-block" data-user_id={{id}} style="width:50px;">
  	<div><a href="{{path_to_core}}user/info.php?id={{id}}">
  			<img class="profile-image rounded-circle" 
  				 onError="this.onerror=null;this.src='{{path_to_core}}system/img/profile/male.png';" 
  				 style="width:50px;height:50px;" 
  				 src="{{path_to_app}}system/img/user/{{id}}/profile">
  		 </a>
  	</div>
</div>