<div class="rounded border border-secondary pb-1 pl-2 pr-3 mr-2 mb-2 team_user_id{{team_user_id}} user-menu{{id}} d-none" data-user_id={{id}}>
	<div class="d-flex">
		<div class="user-profile">
			<div class="text-center mr-2 mb-2 mt-3" style="width:50px;">
			  	<div><a class="user-menu" data-user_id={{id}} href="javascript:;">
			  			<img class="profile-image rounded-circle" 
			  				 onError="this.onerror=null;this.src='{{path_to_core}}system/img/profile/male.png';" 
			  				 style="width:50px;height:50px;" 
			  				 src="{{path_to_app}}system/img/user/{{id}}/profile">
			  		</a>
			  	</div>
			</div>
		</div>
		<div>
			<div class="overflow-hidden" style="width:100px;height:32px;">
				<a href="{{path_to_core}}user/info.php?id={{id}}">{{name}}</a>
			</div>
			<div style="width:100px;height:28px;">
				<a data-team_user_id="{{team_user_id}}" class="admin_add_admin" href="javascript:;">ตั้งเป็นผู้บริหาร</a>
			</div>
			<div style="width:100px;height:28px;">
				<a data-team_user_id="{{team_user_id}}" class="admin_remove_user" href="javascript:;">ยกเลิกสมาชิก</a>
			</div> 
		</div>
	</div>
</div>