<div class="col-12 mb-3 team_id{{team_id}}">
	<div class="card">
		<div class="card-header">
			<div class="d-flex">
				<div class="flex-fill">
					<h3 class="m-0">{{card_name}}</h3>
				</div>
				<div class="">
					{{add_member}}
				</div>
			</div>
		</div>
		<div class="card-body">
			{{list}}
		</div>
	</div>
</div>