<div class="col-12 col-md-6 mb-3">
	<div class="card">
		<div class="card-header">
			<div class="d-flex">
				<div class="flex-fill">
					<h3 class="m-0">{{team_image}} {{team_name}}</h3>
				</div>
				<div class="">
					{{join_menu}}
				</div>
				<div class="user_status" style="line-height: 45px;"data-team_id="{{team_id}}">
					{{user_status}}
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="">
				<div>
					{{detail}}
				</div>
			</div>
		</div>
	</div>
</div>